/* add css module styles here (optional) */

.section{
  display: flex;
  flex-direction: column;
  width:100%;
    
  .inputBox{
    width:100%;
  }  

  .inputActions{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    .postBtn {
      color: yellow;
      text-align: center;
      background-size: 200% auto;
      border-radius:5px;
      transition: 0.5s;
      padding:8px 16px;
      background-color: teal;
      border:none;
      margin-right: 10px;
      font-weight:bolder;
      font-size: 16px;
      border-radius: 10px;

      &:hover {
        background-position: right center;
        cursor: pointer;

      }

      &:focus {
        outline:0;
      }
    }

    .cancelBtn {
      color: rgb(139, 139, 139);
      text-align: center;
      background-size: 200% auto;
      border-radius:5px;
      transition: 0.5s;
      padding:8px 10px;
      border: 2px solid rgb(139, 139, 139);
      font-weight:bolder;
      font-size: 16px;
      border-radius: 10px;

      &:hover {
        background-position: right center;
        cursor: pointer;

      }

      &:focus {
        outline:0;
      }
    }

  }  
  
}


  .form{
    // display: flex;
    background-color: rgb(243, 243, 243);
    padding: 8px;
    padding-bottom: 15px;
    border-radius: 20px;
    .userImg{
      display: flex;
      width:10%;
      justify-content: center;
      align-items: center;
    }

    .postComment{
      width:95%;
      border: none;
      border-bottom: 1px solid #8b8b8b;
      text-decoration: none;
      background-color: transparent;
      margin-left: 4px;
    }
    .postComment:focus {
      outline:none;
      border-bottom: 1px solid rgb(14, 14, 14);
    }
    .postComment::placeholder{
      margin-top: -2px;
    }
  }



.displayComments{
  margin-top: 18px;
  margin-left: 38px;

  .halfDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .userInfo{
      display: flex;
      flex-direction: column;
  
      .commentsTwo{
        display: flex;
        margin-top: 8px;
  
        .fullName{
          display: flex;
          margin-left: 10px;
        }
        .replyBtn{
          background-color: transparent;
          border:none;
          color: gray;
          outline:none;
          font-weight: 600;
          font-size:14px;
          margin: 0px 5px!important;
          width:70px;
          padding: 5px;
          border-radius: 4px;
  
          &:hover{
            outline:none;
            background-color: rgba(160, 160, 160, 0.315);
          }
          &:focus {outline:0;}
        }
        
      }
    }
    .userActions{
      margin-top: 15px;
      margin-right: 5px;
     
      .actionsBtn{
        background-color: transparent;
        border: none;
        padding: 6px 12px;
        border-radius: 50%;
        cursor: pointer;

        &:hover{
          outline:none;
          background-color: #dbdbdb5d;
        }
        &:focus {outline:0;}
        
      }
     
    }
  }
  
  .replySection{
    margin-left: 35px;
    border-left: 2px solid rgb(199, 199, 199);
    margin-top: 6px;
  }
  .replyBlocks {
    border-bottom: 1px dotted grey;
  }
  
}


.actionDiv{
  width:0px !important;
  
  .editBtn{
    background-color: transparent;
    outline:none;
    border:none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: row;
  }
  .editBtn:hover {
    color: #2980b9;
  }
  .deleteBtn{
    background-color: transparent;
    outline:none;
    border:none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: row;
  }
  .deleteBtn:hover {
    color: #2980b9;
  }
}

.signBox{
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
  background-color: transparent;
  padding :15px;
  display: flex;
  justify-content:space-between;
  width:80%;

  .signLine{
    margin-top:5px;
    font-weight: 500;
    color: rgb(156, 156, 156);
    font-size: 17px;
  }

  .loginBtn{
    border : 2px solid rgb(0, 195, 255);
    border-radius: 8px;
    background-color: transparent;
    padding: 5px 10px;
    color: rgb(0, 195, 255);
    font-weight:bolder;
    margin-right: 10px;
    font-size: 16px;
    &:active{
      outline: none;
      border:none;
    }

  }
  .signBtn{
    border : 2px solid rgb(0, 195, 255);
    border-radius: 8px;
    background-color: rgb(0, 195, 255);
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-weight:bolder;
    font-size: 16px;
    &:active{
      outline: none;
      border:none;
    }
  }
}

.customBtn {
  background: transparent;
  //border: none !important;
  border: 1px solid white !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.customBtn:hover {
  border: 1px solid green !important;
  border-radius: 10px;
}
.dateBtn {
  background: transparent;
  border: none !important;
}

// spinner css
.pos-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 2px solid gray;
  border-top: 2px solid #cdf7d3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin .7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Profile PopUp styles...
.tooltip .tooltipProfile {
  visibility: hidden;
  width: 250px;
  height: 150px;
  background-color: rgba(0,0,0, 0.9);
  color: #fff;
  // text-align: center;
  border-radius: 20px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltipProfile {
visibility: visible;
transition-delay: .5s;
}

.standardBtn {
display: inline-block;
 background-color: #cdf7d3;  /* #7b38d8; */
border-radius: 10px;
/* border: 4px double #cccccc; */
color: teal;
text-align: center;
font-size: 13px;
font-weight: bold;
padding: 10px;
height: 40px;
/* width: 200px; */
/* -webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
cursor: pointer; */
/*margin: 5px;*/
}
.underline{
  display:flex;
}
.underline:hover {
  text-decoration: underline;
  cursor: pointer;
}
.continue-btn{
  color: gray;
}
.continue-btn:hover {
  color : yellow;
  background : teal;
  border : none;
  border-radius : 10px;
}